* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --BG-color: #2c2c2d;
  --color-default: #faf9f5;
}

body {
  padding: 1rem 3rem;
  font-family: "Montserrat", sans-serif;
  background-color: var(--BG-color);
  color: var(--color-default);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2rem;
}

.logo {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem 0;
}

.links-root {
  display: flex;
}

.links-root a,
.logo {
  display: inline-block;
  color: #fefefe;
  text-decoration: none;
}

.links-root a {
  padding: 1rem;
}

.links-root a:hover {
  background-color: #fefefe11;
}

h1 {
  font-size: 2rem;
}

.tabs {
  border-bottom: 1px solid #fefefe;
  margin: 1rem 0;
}

.tab {
  color: #fefefe;
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
}

.active {
  border-bottom: solid 3px var(--color-default);
}

table {
  border-collapse: collapse;
  margin-top: 2rem;
  width: 100%;
}

thead {
  background-color: #1c1a1d;
  box-shadow: 0 4px 16px -2px rgba(0, 0, 0, 0.25);
  text-align: left;
}

tbody tr:hover {
  background-color: rgba(28, 26, 29, 0.33);
  cursor: default;
}

th,
td {
  /* border: 1px solid #fefefe; */
  padding: 1.25rem;
}

.button {
  background-color: #fefefe;
  border-radius: 0.25rem;
  border: 0;
  color: #2c2c2d;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.2s;
}

.button + .button {
  margin-left: 0.75rem;
}

.button:hover {
  filter: brightness(0.9);
}

.button.is-small {
  font-size: 0.875rem;
}

.button.is-large {
  font-size: 1.25rem;
}

.button.is-danger {
  background-color: #ff5258;
}

.button.is-primary {
  background-color: #5ba7fd;
}

form {
  margin: 0 auto;
  max-width: 70rem;
  padding: 2rem 0;
}

input,
textarea,
select {
  background-color: #1c1a1d;
  border-radius: 0.25rem;
  border: 0;
  color: #fefefe;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.row div {
  flex: 1 0 16rem;
}

.item h2 {
  display: inline-block;
  margin-right: 2rem;
}

.item span,
.dashboard-card {
  background-color: #1c1a1d;
  box-shadow: 0 4px 16px -2px rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  cursor: default;
  font-size: 1.125rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
}

.item p {
  font-size: 1.25rem;
  margin-top: 2rem;
}

.dashboard-card span {
  display: block;
  font-size: 3rem;
  margin: 1rem 0;
  text-align: center;
}
