* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --BG-color: #2c2c2d;
  --color-default: #faf9f5;
}

body {
  padding: 1rem 3rem;
  font-family: "Montserrat", sans-serif;
  background-color: var(--BG-color);
  color: var(--color-default);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2rem;
}

.logo {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem 0;
}

.links-root {
  display: flex;
  gap: 2rem;
}

.links-root a,
.logo {
  display: inline-block;
  color: #fefefe;
  text-decoration: none;
}

.links-root a {
  padding: 1rem;
}

.links-root a:hover {
  background-color: #fefefe11;
}

h1 {
  font-size: 3rem;
}

.tabs {
  border-bottom: 1px solid #fefefe;
  margin: 1rem 0;
}

.tab {
  color: #fefefe;
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
}

.active {
  border-bottom: solid 3px var(--color-default);
}
